@model clienteRest.Models.mvcProductModel

@{
    ViewBag.Title = "AddOrEdit";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.CODIGO)
        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE)
            @Html.EditorFor(model => model.NOMBRE)
            @Html.ValidationMessageFor(model => model.NOMBRE)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PRECIO)
            @Html.EditorFor(model => model.PRECIO)
            @Html.ValidationMessageFor(model => model.PRECIO)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EXISTENCIAS)
            @Html.EditorFor(model => model.EXISTENCIAS)
            @Html.ValidationMessageFor(model => model.EXISTENCIAS)
        </div>


        <div class="form-group">
            <input type="submit" value="Submit" class="btn bottom" />
            <input type="cancel" value="Cancel" class="btn bottom" />
        </div>

    }

</div>